.fence-plus-coach-overview-fencer .inside {
    margin:  0 0 0 0;
    padding: 0;
}

.fence-plus-coach-overview-fencer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

.fence-plus-coach-overview-fencer .left {
    float: left;
}

.fence-plus-coach-overview-fencer .right {
    float:      right;
    text-align: right;
}

.fence-plus-coach-overview-fencer:after,
.fence-plus-coach-overview-fencer .clearfix:after {
    visibility: hidden;
    display:    block;
    font-size:  0;
    content:    " ";
    clear:      both;
    height:     0;
}

.fence-plus-coach-overview-fencer .spacing-wrapper {
    overflow: hidden;
    padding:  2em;
}

.fence-plus-coach-overview-fencer {
    max-width: 760px;
}

.fence-plus-coach-overview-fencer .coach-name {
    display:     inline;
    margin-top:  0;
    line-height: 1;
}

.fence-plus-coach-overview-fencer.old-coach .action span:before {
    content: '\f405';
}

.fence-plus-coach-overview-fencer.new-coach .action span:before {
    content: '\f418';
}

.fence-plus-coach-overview-fencer .action span,
.fence-plus-coach-overview-fencer .action span {
    font-family:    'genericons', serif;
    font-size:      64px;
    line-height:    32px;
    color:          #dfdfdf;
    vertical-align: top;
    display:        inline-block;
    width:          42px;
    height:         16px;
}

.fence-plus-coach-overview-fencer.old-coach .action span:hover {
    color:  #ff5351;
    cursor: pointer;
}

.fence-plus-coach-overview-fencer.new-coach .action span:hover {
    color:  #06b23f;
    cursor: pointer;
}